In [16]:
import pandas as pd

In [12]:
s = pd.Series(list('adafagafsgsgafafssjagah'))
s

0     a
1     d
2     a
3     f
4     a
5     g
6     a
7     f
8     s
9     g
10    s
11    g
12    a
13    f
14    a
15    f
16    s
17    s
18    j
19    a
20    g
21    a
22    h
dtype: object

In [13]:
s.unique()

array(['a', 'd', 'f', 'g', 's', 'j', 'h'], dtype=object)

In [14]:
s.value_counts()

a    8
s    4
f    4
g    4
j    1
h    1
d    1
dtype: int64

In [20]:
datos = pd.read_csv('../data/alquiler.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [21]:
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [22]:
datos.Tipo.value_counts()

Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chalet                            1
Chacra                            1
Local industrial                  1
Name: Tipo, dtype: int64

In [23]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [27]:
eventos = {'m1': list(m1), 
                'm2': list(m2), 
                'm3': list(m3), 
                'm4': list(m4), 
                'm5': list(m5)}
monedas = pd.DataFrame(eventos)
for item in monedas:
    df = pd.concat([df, monedas[item].value_counts()], 
                    axis = 1)
df

/tmp/ipykernel_10984/1054676292.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df = pd.concat([df, monedas[item].value_counts()],

   Faces  m1  m2  m3  m4  m5
C  Crown  25  24  31  27  25
c   Cara  25  26  19  23  25